# ignore large data files
input-data/*.tif
input-data/*/*.tif
input-data/*/*.shp
input-data/*/*.dbf
input-data/*/*.sbx
input-data/*/*.sbn
input-data/*/*.shx
input-data/*/*.cpg
input-data/*/*.prj

# R profile files
*.Rproj.user
*.Rhistory

# log files
gurobi.log
/*.Rout

# system files
.directory

# do not ignore the following files
!*.gitkeep
.Rproj.user
